.about
	.about-image
		img
			width: 100%
			box-shadow: 8px 8px 32px -5px rgba(0, 0, 0, 0.7)
	.about-info
		.about-info_title
			font-size: 30px
			font-weight: 900
		.about-info_subtitle
			display: block
			margin-bottom: 10px
			font-size: 18px
			font-weight: 900
		.about-info_text
			color: #424242
			letter-spacing: 0.6px
			font-size: 15.7px
		span
			margin-right: 15px
		.buttons
			margin-top: 20px
			a
				padding: 10px 30px 10px 30px
				background: #fd4d4d
				text-decoration: none
				color: #f7f7f7
				transition: 0.6s