* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif; }

.section-title {
  text-align: center;
  padding-bottom: 30px; }
  .section-title h2 {
    font-weight: 800;
    font-size: 37px;
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif; }
  .section-title p {
    color: #6c757d;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.4px; }

.section-padding {
  padding: 68px 0px; }

.bg-grey {
  background: #f8f9fa; }
