.header
	text-align: center
	background: linear-gradient( rgba(35, 37, 47, 0.8), rgba(35, 37, 47, 0.8) ),  url(../img/bg.jpg) no-repeat left bottom/cover
	background-attachment: fixed
	height: 100vh
	.header__banner
		color: #E0DFE3
		padding: 39vh 0
		.name
			font-weight: 700
			font-size: 68px
			line-height: 1.2
			margin-bottom: 30px
			span
				color: #fd4d4d
		ul
			list-style-type: none
			padding:  0
			li
				display: inline-block
				font-size: 24px
				margin-right: 10px
				a
					color: #E0DFE3
					i:hover
						transition: .4s
						color: #fd4d4d
		.anchor
			position: absolute
			bottom: 20%
			i
				cursor: pointer
				font-size: 30px