.prices .price_box {
  overflow: hidden;
  position: relative;
  background: #fff;
  padding: 58px;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.05);
  font-family: 'Open Sans', sans-serif;
  text-align: center; }
  .prices .price_box .price_name h4 {
    color: #dd464a;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px; }
  .prices .price_box .plan_price {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef; }
    .prices .price_box .plan_price h1 {
      color: #2e2e2e;
      font-size: 54px; }
      .prices .price_box .plan_price h1 sub {
        font-size: 15px;
        color: #6c757d; }
  .prices .price_box .price_features {
    text-align: left; }
    .prices .price_box .price_features ul {
      list-style-type: none;
      padding: 0; }
      .prices .price_box .price_features ul li {
        margin-top: 20px; }
        .prices .price_box .price_features ul li p {
          font-size: 17px;
          color: #2e2e2e; }
          .prices .price_box .price_features ul li p i {
            margin-right: 10px;
            color: #dd464a; }
          .prices .price_box .price_features ul li p span {
            color: #6c757d; }
  .prices .price_box .price_button {
    margin-top: 35px; }
    .prices .price_box .price_button a {
      transition: .6s;
      border-radius: 5px;
      padding: 11px 28px;
      color: #fff;
      background: #dd464a;
      text-decoration: none; }
      .prices .price_box .price_button a:hover {
        background: #c63f42; }

.lable {
  background: #dd464a;
  padding: 4px 0;
  padding-top: 12px;
  text-align: center;
  width: 200px;
  position: absolute;
  top: 24px;
  color: #fff;
  right: -58px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
